  <title>Inicio</title>
  <link rel="stylesheet" href="../inicio/inicio.css">

  {{> header }}
  <div class="contt">
    <img class="main" src="../Imagenes/making-a-budget-tracking-finances.jpg" alt="">
    <div class="tit-main">
      <div class="secc1">
        <img class="logo-u" src="../Imagenes/logo-uaem.png" alt="">
      </div>
      <div class="secc2">
        <h1 class="title">AUTOMATIZACION DE TAREAS Y DOCUMENTACION ACADEMICA</h1>
      </div>
      <div class="secc3">
        <h6>SIMPLIFICACIÓN Y EFICIENCIA EN LA WEB</h6>
      </div>
    </div>
    </div>
<div class="contenedor">
  <div class="container-main">
    <div>
    <h1 class="item2"> ¿Quienes somos?</h1>
    <p class="texto">VianCo-Lab “Donde la biología encuentra a la computación” Es un laboratorio de investigación en las ciencias computacionales, sus principales líneas de investigación son: visión artificial, inteligencia artificial distribuida, computo evolutivo, sistemas multi-agentes, computo ubicuo todo esto basado en los sistemas...</p>
    <a type="button" href="https://vianco.uaemex.mx/" class="btn btn-outline-success">Conocenos haciendo click aqui <i class="bi flecha bi-arrow-right-short"></i></a>
    </div>
    <div>
    <img class="imagenVianc" src="../Imagenes/FlayerViancolab.png" alt="">
    </div>
  </div>
  <div class=" container">
    <div>
    <img class="documentos" src="../Imagenes/documentos.png" alt="">
    </div>
    <div>
    <div class="cont22">
          <h2 class="item22">Objetivo</h2>
        <div class="conTxt"> 
          <p class="text ">Esta pagina fue diseñada especificamente para el area de doctorado con el proposito de mejorar la eficiencia administrativa, reudcir errores en la generación de formatos y optimizar los procesos de documentacion para los alumnos, aspirantes y academicos.</p>
        </div>
    </div>
    </div>
  </div>

  <div class="enc">
    <div class="about">
      <h1 class="item2">Información de contacto</h1>
    </div>
    <div class="encargados">
      <div class="card">
          <div class="card-image">
            <img src="../Imagenes/Marco.png" class="rounded-circle" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Dr. Marco Antonio Ramos Corchado</h5>
           <a href="mailto:maramosc@uaemex.mx" class="card-text">maramosc@uaemex.mx</a>
          </div>
      </div>
      <div class="card">
          <div class="card-image">
            <img src="../Imagenes/Vianney.png" class="rounded-circle" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Dra. Vianney Muñoz Jiménez</h5>
          <a href="mailto:correo@maramosc@uaemex.mx" class="card-text">maramosc@uaemex.mx</a>
          </div>
      </div>
  </div>
  </div>


</div>
   <script src="../inicio/inicio.js"></script>
{{> footer}}
 