<div class="contenedor-home" id="contenedor-home">
        <h1>Registros</h1>
        <div class="btn-section">
            <a class="btn-agregar" href="Registrar.html">+ Agregar</a>
        </div>
        <div class="table-responsive">
            <caption>Lista de registros</caption>
            <table class="table">
                <thead class="head">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">ID LOCKER</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><input class="entrada" type="text" value="Victor Daniel Archundia Sanchez" disabled></td>
                    <td>
                      <select class="entrada" disabled>
                        <option value="3-A">3-A</option>
                      </select>
                    </td>
                    <td class="icons"> 
                        <button class="btn editar" onclick="habilitarEdicion(this)">  <i class="bi bi-pencil-square"></i></button>
                        <button class="btn borrar" onclick="confirmarBorrado(this)"> <i class="bi bi-trash"></i></button>
                        <button class="btn guardar" onclick="guardarCambios(this)" disabled><i class="bi bi-floppy"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td><input class="entrada" type="text" value="Victor Daniel Archundia Sanchez" disabled></td>
                    <td>
                      <select class="entrada" disabled>
                        <option value="3-A">3-A</option>
                      </select>
                    </td>
                    <td class="icons"> 
                        <button class="btn editar" onclick="habilitarEdicion(this)">  <i class="bi bi-pencil-square"></i></button>
                        <button class="btn borrar" onclick="confirmarBorrado(this)"> <i class="bi bi-trash"></i></button>
                        <button class="btn guardar" onclick="guardarCambios(this)" disabled><i class="bi bi-floppy"></i></button>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
    </div>
    