       <title>Formatos</title> 
       <link rel="stylesheet" href="../formatos/formatosStyle.css">
       {{> header}} 
        <div class="contenedor2">
            <h1 class="">Selecciona el formato que deseas consultar y descargar </h1>
            <div class="contenedor-tablas">
                <table border="1">
                    <thead>
                      <tr class="title-table">
                        <th class="table-title" colspan="2"><Fieldset>Alumnos</Fieldset></th>
                      </tr>
                
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fila"><a href="#">1° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <tr>
                        <td class="fila"><a href="#">2° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <!-- Puedes agregar más filas según sea necesario -->
                    </tbody>
                  </table>   
                  <table border="1">
                    <thead>
                      <tr class="title-table">
                        <th class="table-title" colspan="2"><Fieldset>Alumnos</Fieldset></th>
                      </tr>
                
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fila"><a href="#">1° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <tr>
                        <td class="fila"><a href="#">2° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <!-- Puedes agregar más filas según sea necesario -->
                    </tbody>
                  </table>  
                  <table border="1">
                    <thead>
                      <tr class="title-table">
                        <th class="table-title" colspan="2"><Fieldset>Alumnos</Fieldset></th>
                      </tr>
                
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fila"><a href="#">1° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <tr>
                        <td class="fila"><a href="#">2° Semestre</a></td>
                        <td class="fila"><img class="icon-doc" src="../Imagenes/PDF.png" alt=""></td>
                      </tr>
                      <!-- Puedes agregar más filas según sea necesario -->
                    </tbody>
                  </table>  
            </div>
            </div>
         <script src="../formatos/formatos.js"></script>
        {{> footer }}